  html,
  body {
    margin: 0;
    padding: 0;
    background-color: #dbd0d0;
  }

  .container {
    height: 150px;
    width: calc(150px * 3/2);
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container>div {
    height: 100%;
  }

  .blue {
    background: blue;
  }

  .white {
    background: rgb(253, 251, 251);
  }

  .red {
    background: red;
  }

  .germen {
    margin: 60%;
    height: 150px;
    width: calc(150px * 5/3);
    margin: 2em auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .germen>div {
    height: 100;
  }

  .black {
    background: black;
  }

  .yellow {
    background: yellow;
  }

  .indonesia {
    margin: 80%;
    height: 150px;
    width: calc(150px * 3/2);
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .indonesia>div {
    height: 100;
  }

  .white {
    background: rgb(253, 251, 251);
  }

  .indonesia>.white {
    grid-area: 1/1/3/2;
  }

  .indonesia>.red {
    background: red;
    grid-area: 1/2/2/4;
  }

  .green {
    background: rgb(17, 102, 17);
    grid-area: 2/2/3/4;
  }

  .japan {
    height: 200px;
    width: calc(200px * 1.5);
    background: white;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .japan>.red {
    height: calc(200px * 3/5);
    width: calc(200px * 3/5);
    ;
    border-radius: 50%;
  }

  .container1 {
    height: 200px;
    width: 200px;
    background: red;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .white1 {
    height: calc(200px * 3/16);
    width: calc(200px * 5/8);
    background: white;
  }

  .white2 {
    height: calc(200px * 5/8);
    width: calc(200px * 3/16);
    background: white;
    position: absolute;
  }